.markdown
  visibility: hidden

.container
  width: 50% 
  margin: 0 auto
  margin-top: 20px
  border-radius: 15px
  background-color: #333333
  -moz-box-shadow:    inset 0 0 20px #111111
  -webkit-box-shadow: inset 0 0 20px #111111
  box-shadow:         inset 0 0 20px #111111
  padding: 20px;
  padding-left: 30px
  padding-right: 30px

.search
  border: 0
  outline: 0
  background: transparent
  padding-left: 8px

input:focus::-webkit-input-placeholder 
  color: transparent

img
  display: block
  margin-left: auto
  margin-right: auto
  width: 50%
  height: 80%
  margin-top: 2%
  margin-bottom: 4%
  border-radius: 15px
  background-color: #333333
  -moz-box-shadow:    0 0 30px #111111
  -webkit-box-shadow: 0 0 30px #111111
  box-shadow:         0 0 30px #111111

body
  background-color: #444444
  color: #FFFFFF

body::-webkit-scrollbar 
  display: none

a
  color: #FFFFFF

a:hover
  color: #CCCCCC

a:visited
  color: #CCCCCC

a:active 
  color: #CCCCCC

button
  background: none
  border: 0

button:focus 
  outline: none

.header
  width: 50%
  margin: 0 auto
  margin-top: 20px
  display: flex
  font-size: 32px
  position: relative

.copy
  margin-left: auto
  margin-right: 0
  right: 0
  position: absolute

.table-responsive
  border: 0

.wrap
  word-break: break-word

@media only screen and (max-width: 768px) 
  img
    width: 85%
    margin-top: 30px
  .container 
    width: 95%
  .header 
    width: 95%
  .wrap
    white-space: normal !important
