.markdown
  visibility: hidden

.container
  width: 50% 
  margin: 0 auto
  margin-top: 20px
  border-radius: 15px
  background-color: #333333
  -moz-box-shadow:    inset 0 0 20px #111111
  -webkit-box-shadow: inset 0 0 20px #111111
  box-shadow:         inset 0 0 20px #111111
  padding: 20px;
  padding-left: 30px;
  padding-right: 30px;

.search
  border: 0
  outline: 0
  background: transparent
  border-bottom: 0px
  padding-left: 8px

.controls
  margin-top: 10px
  margin-right: 15px
  display: inline-flex
  left: 65%
  position: absolute

body
  background-color: #444444
  color: #FFFFFF
  overflow: hidden

a
  color: #FFFFFF

a:hover
  color: #CCCCCC

button
  background: none
  border: 0
  margin-left:10px

button:focus 
  outline: none

.header
  width: 50%
  margin: 0 auto
  margin-top: 10px
  padding-left:10px
