extend ./header

block content 
  div.form-group
    form.form(action='javascript:redirect()')
      input.form-control.search(type='text', placeholder='username', name='user')
      input.form-control(type='submit', value='Search')
      button.form-control(data-clipboard-target='.markdown') Copy as markdown

  h2 #{author}

  div.table-responsive
    table.table
      thead
        tr
          th.col-md-10 Subreddit
          th.col-md-1 Comments
      tbody
        each comment in comments
          tr
            td #{comment.subreddit}
            td #{comment.count}

  pre.markdown #{markdown}
