extend ./header

block content 
  div.home
    form(action='javascript:redirect()' autocomplete='off')
      input.search.home-search(type='text', placeholder='Search for a reddit user', name='user', onfocus="this.value=''", value=author)
