extend ./header
include ./components

block content 
  div.header
    form(action='javascript:redirect()' autocomplete='off')
      input.search(type='text', placeholder='Search for a reddit user', name='user', onfocus="this.value=''", value=author)
