extend ./header

block content 
  h2 #{author}
  pre.markdown #{markdown}
  button.copy(data-clipboard-target='.markdown') copy

  div.table-responsive
    table.table
      thead
        tr
          th.col-md-10 Subreddit
          th.col-md-1 Comments
      tbody
        each comment in comments
          tr
            td #{comment.subreddit}
            td #{comment.count}
